html {
	scroll-behavior: smooth; /*scroller de facon fluide d'un point a a un point b  */
}



h2,h3, h4, nav-item , #transition , footer {
	text-align: center;
}

div .Logo{
	text-decoration: none;
	font-size: 20px;
	color: black;
    font-family: Cambria;
    font-style: oblique;
}
/* bouton redirection */
.nav-item {

    display: block;
    list-style: none;
    text-align: center;
    line-height: 10px;
    font-size: 1.2em;
    text-decoration: none;
    padding-bottom: 6px;
    font-size: 20px;
    font-family: times;
    font-style: inherit;
    font-variant-caps: all-petite-caps;

}

/* HEADER  */

header {
	background-color: #E4D1B9;
	background-size: cover;
	height: 80vh;
	border-radius: 0px 0px 20px 20px;
	margin-bottom: 10%;

}

h1{
	font-size: 5em;
	padding: 200px 0 0 10%;
	text-shadow: -3px 3px 2px #EEF2FF;
	animation: titre ease 2s;
	font-style: oblique;
	font-family: times;

}


/* animation, du titre glisse vers le haut */

@keyframes titre {  

	/* debut de l'animation  */
	0% { 
		opacity: 0;
		transform: translateY(15px); /*(x,y) de il mmonte de bas en haut */
	}

	/* fin de l'animation  */
	100%{
		opacity: 1;
		transform: translateY(0px); /*retrouve la place d'origine*/
	}
}

/* animation du texte effet zoom */
@keyframes texte {

	0%{
		-webkit-transform:scale(0); /* Safari et Chrome */
		-moz-transform:scale(0); /* Firefox */
		-ms-transform:scale(0); /* Internet Explorer 9 */
		-o-transform:scale(0); /* Opera */
		transform:scale(0);
	}

	50%{
		    -webkit-transform:scale(1.25); /* Safari et Chrome */
			-moz-transform:scale(1.25); /* Firefox */
			-ms-transform:scale(1.25); /* Internet Explorer 9 */
			-o-transform:scale(1.25); /* Opera */
			transform:scale(1.25);
	}
}

#premierTrait{
    height: 1px;
    width: 30%;
    margin-left: 10%;
    margin-bottom: 4%;
    background-color: floralwhite;
    box-shadow: 1px 3px 2px black;
}


p{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 16px;
	font-family: times;
	background-color: white;
	border-radius: 10px;
	animation: texte ease 1s;
}

h2 {
}
form h2{
	font-family: times;
	background-color: white;
	margin-right: 25%;
	
}


/* formulaire */

form {
	margin-left: 40%;
}




