html {
	scroll-behavior: smooth; /*scroller de facon fluide d'un point a a un point b  */
}



h2,h3, h4, nav-item , #transition , footer {
	text-align: center;
}

/*Logo*/
div .Logo{

    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Cambria;
    font-style: oblique;

}


/* Titre Art&Gout */


.en-tete h1{
    text-align: center;
    margin-top: 220px;
    margin-bottom: 50px;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 40px;
    font-family:  Baskerville;
    font-style: oblique;

}


/* HEADER  */

header {
	background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #F3E9DD 0%, #DAB88B 100%);
background-attachment: fixed;
  background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	border-radius: 0px 0px 20px 20px;
	display: table-row;
	opacity: .95;
}

h1{
	font-size: 5em;
	padding: 20px 0 0 10%;
	text-shadow: -3px 3px 2px #EEF2FF;
	animation: titre ease 2s;
	font-style: oblique;
	font-family: times;


}

/* bouton redirection */
.nav-item {

    display: block;
    list-style: none;
    text-align: center;
    line-height: 10px;
    font-size: 1.2em;
    text-decoration: none;
    padding-bottom: 6px;
    font-size: 20px;
    font-family: times;
    font-style: inherit;
    font-variant-caps: all-petite-caps;

}


/* animation, du titre glisse vers le haut */

@keyframes titre {  

	/* debut de l'animation  */
	0% { 
		opacity: 0;
		transform: translateY(15px); /*(x,y) de il mmonte de bas en haut */
	}

	/* fin de l'animation  */
	100%{
		opacity: 1;
		transform: translateY(0px); /*retrouve la place d'origine*/
	}
}



#premierTrait{
    height: 1px;
    width: 30%;
    margin-left: 10%;
    margin-bottom: 4%;
    background-color: #DAB88B;
    box-shadow: 1px 3px 2px black;
}


p{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 16px;
	font-family: times;
	background-color: white;
	border-radius: 10px;

}

form h2{
	font-family: times;
	background-color: #EEEEEE;
	border-radius: 30px;
	margin-bottom: 6%;
}


/* formulaire */
header form{
	padding-bottom: 5px;
}
form {
	margin-left: 35%;
	margin-right: 10%;
	font-family: times;
	font-weight: bold;
	background-image: linear-gradient(-225deg, white 50%, #506D84 50%);
	padding: 50px;
	border-radius: 10px;
	opacity: .95;
}

form .corps-du-formulaire{

	display: flex;

}
form .corps-du-formulaire .boites{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	margin-left: 60px;
}

form .corps-du-formulaire .Partiegauche .boites input{

	margin-top: 5%;
	padding: 7px 5px 7px 30px;
	border: 1px solid #DAB88B;
	outline-color: black;
	border-radius: 10px;
}

form .corps-du-formulaire .Partiegauche .boites i{

	position: absolute;
    padding-top: 50px;
    padding-left: 10px;
    color: #DAB88B;
}

form .corps-du-formulaire .Partiedroite{
	margin-left: 10px;
}

form .corps-du-formulaire .Partiedroite .boites input:valid{

	margin-top: 5%;
	padding: 7px 5px 7px 30px;
	border: 1px solid #DAB88B;
	outline-color: black;
	border-radius: 10px;
}


form .corps-du-formulaire .Partiedroite .boites i{

	position: absolute;
    padding-top: 50px;
    padding-left: 16px;
    color: #DAB88B;
}

form .fin-formualire button{ 

	display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 17% auto;
    letter-spacing: 0.05em;

}



