html {
	scroll-behavior: smooth; /*scroller de facon fluide d'un point a a un point b  */
}



h2,h3, h4, nav-item , #transition , footer {
	text-align: center;
}

/* bouton redirection */
.nav-item {

    display: block;
    list-style: none;
    text-align: center;
    line-height: 10px;
    font-size: 1.2em;
    text-decoration: none;
    padding-bottom: 6px;
    font-size: 20px;
    font-family: times;
    font-style: inherit;
    font-variant-caps: all-petite-caps;

}

/*Logo*/
div .Logo{

    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Cambria;
    font-style: oblique;

}


/* Titre Art&Gout */


.en-tete h1{
    text-align: center;
    margin-top: 220px;
    margin-bottom: 50px;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 40px;
    font-family:  Baskerville;
    font-style: oblique;

}

/* HEADER  */


.recap p{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 18px;
	font-family: times;
	background-color: white;
	border-radius: 10px;
}
/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */

body {

    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #F3E9DD 0%, #DAB88B 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;	
opacity: .95;
	
}



/* |||||||||||||||||||||||||||||||||||||||||||||*/
/* //////////////////////////////////////////// */




/* End body rules */

/* Start form  attributes */
form {

    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, white 50%, #506D84 50%);

}

header {

    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

header h1 {
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    color: black;
}

header p {letter-spacing: 0.05em;}


header .fin-formualire a{ 

	text-decoration: none;
	display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
  	padding-top: 10px;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s linear;
  
    letter-spacing: 0.05em;
}

.field-set .recap{

  font-family: times;
  background-color: white;
  border-radius: 16px;

}


/* buttons hover */
header .fin-formualire a:hover  {
    border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}

@keyframes animate {
        0% {
        	 -webkit-transform:scale(0); /* Safari et Chrome */
    -moz-transform:scale(0); /* Firefox */
    -ms-transform:scale(0); /* Internet Explorer 9 */
    -o-transform:scale(0); /* Opera */
          transform:scale(1,0);
        }
        100% {
        	 -webkit-transform:scale(0); /* Safari et Chrome */
   		-moz-transform:scale(0); /* Firefox */
    	-ms-transform:scale(0); /* Internet Explorer 9 */
    	-o-transform:scale(0); /* Opera */
          transform:scale(1,1);
        }
      }


 form img {animation: animate 1s };

 
